distances/
*_study/
ntuple_files/
linking_lengths/
plots/
signal_MC/
split_files/
submits/
preprocessing/
train_files/
gnn.py
__pycache__/
deepsets_baseline/deepsets_model/
deepsets_baseline/*.pdf
**/*.pdf
MADnormed_distances/
standardised_distances/
models/
batched_distances/
data/batched_mass_euclidean_distances/
data/graph/
data/dnn_scores/
data/stau_split_files/
trained_models/
